* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $ground_body;
  font-family: 'Oswald', sans-serif;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
